<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}StudyBud{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" media='screen' href="{% static 'styles/main.css' %}">
    
  </head>
  <body>
    {% include "navbar.html" %}

    {% if messages %}
      <ul class="messages">
          {% for message in messages %}

              <li {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} class="message message-error" {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} class="message message-success" {% else %} class="message message-info" {% endif %}>{{ message }}</li>
          
          {% endfor %}
      </ul>
    {% endif %}

    {% block content %} 
    {% endblock content %}

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(() => {
          let messagesElement = document.querySelector('.messages');

          if (messagesElement) {
            const computedStyle = window.getComputedStyle(messagesElement);
            const displayValue = computedStyle.getPropertyValue('display');

            if (displayValue === 'flex') {
              messagesElement.style.display = 'none';  
            } 
          }
        }, 2000);
      });
    </script>
  </body>
</html>
