
<nav class="nav">
    <h3>StudyBud</h3>
    <ul class="nav-list">
        <li class="nav-list__item"><a href='/'>Home</a></li>

        {% if user.is_authenticated %}
            <li class="nav-list__item">Logged in as <span class='username'>{{ user.username }}</span></a></li>
            <li class="nav-list__item"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-list__item"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>

    <div>
        <form class="search-form" method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="search rooms..."/>
        </form>
    </div>

</nav>
<hr>