{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <form method='POST' action=''>
        <fieldset>
            <legend>Confirm Deletion</legend>
            {% csrf_token %}
            <p>Are you sure You want to delete {{ obj }}?</p>
            <button class='btn btn-edit'><a href="{{request.META.HTTP_REFERER}}">Go back</a></button>
            <input type="submit" value="Confirm" class='btn btn-delete'/>
        </fieldset>
    </form>
</div>
{% endblock content %}