{% extends "base.html" %} 
{% block content %}
<style>

  
</style>
<div class="home-container">
  <!-- side bar browse -->
  <div class="browse-container">
    <h3>Browse Topics</h3>
    <hr>
    {% for topic in topics%}
    <div class="topics">
      <a href="{% url 'home'  %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <!-- rooms list -->
  <div class="rooms-container">
    <button type="button" class="btn btn-create">
      <a href="{% url 'create_room' %}">Create Room</a>
    </button>
      
    <div>
      {% for room in rooms %}
      <div class="room-card">
        <div class="room-card__header">
          <span>@{{ room.host.username }}</span>
          <div>
            <button class="btn btn-edit"><a href="{% url 'update_room' room.id %}" >Edit</a></button>
            <button class="btn btn-delete"><a href="{% url 'delete_room' room.id %}" >Delete</a></button>
          </div>
        </div>
        <p><a href='{% url "room" room.id %}'>{{room.name}}</a></p>
        <small>{{ room.topic.name }}</small>
      </div>

      {% endfor %}
    </div>
  </div>

  <!-- Recent Activities -->
  <div class="recent-container">
    <h3>Recent Activities</h3>
  </div>
</div>

{% endblock content %}
