{% extends "base.html" %} 
{% block content %}

<div class="home-container">
  <!-- side bar browse -->
  <div class="browse-container">
    {% include "components/topics.html" %}
  </div>

  <!-- rooms list -->
  <div class="rooms-container">
    <div class'room-card'>
      <div class="room-card__header">
        <strong>{{room_count}} Rooms available.</strong>
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-create">
            <a href="{% url 'create_room' %}">Create Room</a>
          </button>
        {% endif %}
      </div>
    </div>
    <div class='rooms-list'>
      {% include "components/feed.html" %}
    </div>
  </div>
  <!-- Recent Activities -->
  <div class="recent-container">
    {% include "components/activity.html" %}
  </div>

</div>


{% endblock content %}
