{% extends "base.html" %}

{% block content %}
<style>
    .errorlist{
        list-style: none;
        color: red;
    }
</style>
{% if page == 'login' %}

<div class="form-container">
    <form method='POST' action=''>
        <fieldset>
            <legend>Log In</legend>
            {% csrf_token %}
            
            <div>
                <label for="username">Username : </label>
                <input type='text' name='username' placeholder='Enter username'/>
            </div>
            <div>
                <label for="password">Password : </label>
                <input type='password' name='password' placeholder='Enter password'/>
            </div>
            <input type="submit" value="Login" class="btn"/>
            <p> Don't have account? Please <a class='btn btn-edit' href="{% url 'register' %}">Register</a></p>
        </fieldset>
    </form>
</div>
{% else %}
<div class="form-container">
    <form method='POST' action=''>
        <fieldset>
            <legend>Log In</legend>
            {% csrf_token %}
            
           {{ form.as_p }}
            <input type="submit" value="Register" class="btn"/>
            <p> Already registered? Please <a class='btn btn-edit' href="{% url 'login' %}">Login</a></p>
        </fieldset>
    </form>
</div>
{% endif %}
{% endblock content %}